.hamberger-container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#nav-bar-container{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

#nav-bar-inner-container-1{
    border: 2px solid black;
}

#nav-bar-inner-container-2{
    width:30vw;
    border: 2px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}