/* ==========================
   HOME PAGE
========================== */

.hero-section{
    background:#151515;  
    min-height:10vh;
    display:flex;
    align-items:center;
    padding-top:100px;          /* navbar space */
    padding-bottom: 30px;
}

.hero-greeting{
    color:#8d8d8d;
    font-size:22px;
    margin-bottom:12px;
}

.hero-name{
    font-size:54px;
    font-weight:700;
    color:#ffffff;
    line-height:1.1;
    margin-bottom:15px;
}

.hero-role{
    color:#7c3aed;
    font-size:32px;
    font-weight:600;
    margin-bottom:25px;
}

.hero-description {
    color: #9b9b9b;
    font-size: 18px;
    line-height: 1.8;
    max-width: 960px;
    margin-bottom: 30px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.col-lg-7 {
    overflow: hidden;
}

/* Buttons */

.hero-buttons{

    margin-top:10px;
}

.btn-download,
.btn-contact{

    padding:14px 34px;

    border-radius:12px;

    font-size:17px;

    font-weight:500;

    transition:.3s;
}

.btn-download{

    background:#7c3aed;

    border:none;

    color:white;
}

.btn-download:hover{

    background:#9155ff;

    color:white;
}

.btn-contact{

    background:transparent;

    color:#d8d8d8;

    border:1px solid #333;
}

.btn-contact:hover{

    background:#222;

    color:white;
}

/* ==========================
   PROFILE CARD
========================== */

/* ==========================
   PROFILE CARD
========================== */

.profile-card {

    width: 360px;
    height: 350px;

    background: #191919;
    border: 1px solid #262626;
    border-radius: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-bottom: 50px;
}

/* Circular Image */

.profile-image {

    width: 230px;
    height: 230px;

    border-radius: 50%;
    object-fit: cover;

    border: 8px solid #222;

    background: #202020;
}
/* ==========================
   SECTION SPACING
========================== */


/* ==========================
   RESPONSIVE
========================== */

@media(max-width:991px){

.hero-row{
    min-height:auto;
    text-align:center;
}

.profile-card{
    margin:0 auto 35px ;
}

.hero-buttons{
    justify-content:center;
    margin-bottom: 20px;
}

.hero-description{
    margin:auto;
}

}