<div>
    <form [formGroup]="userForm" (ngSubmit)="submit()">
        <div>
            <label for="image">Profile picture</label>
            <input type="file" (change)="onImageChane($event)">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" formControlName="description">
        </div>
        <div>
            <label for="skill">Skills</label>
            <button type="button" (click)="addSkill()">+</button>
            <div formArrayName="skills">
                @for (s of skillArray().controls; track $index) {
                    <div [formGroupName]="$index">
                    <input formControlName="name" placeholder="enter skill">
                    <textarea formControlName="description"
                      placeholder="enter description"
                      rows="5"
                      style="width: 10%; resize: both;"></textarea>
                    <button type="button" (click)="removeSkill($index)">-</button>
                </div>
                }
                
            </div>
        </div>

        <div>
            <label for="projects">Projects</label>
            <button type="button" (click)="addProject()">+</button>
            <div formArrayName="projects">
                @for (p of projectsArray().controls; track $index) {
                    <div [formGroupName]="$index">
                    <input formControlName="title" placeholder="enter title">
                    <textarea formControlName="description"
                      placeholder="enter description"
                      rows="5"
                      style="width: 10%; resize: both;"></textarea>
                    <button type="button" (click)="removeProject($index)">-</button>
                </div>
                }
                
            </div>
        </div>

        <div>
            <label for="contact">Contact</label>
            <button type="button" (click)="addContact()">+</button>
            <div formArrayName="contactDetails">
                @for(c of contactArray().controls; track $index){
                    <div [formGroupName]="$index">
                    <input formControlName="type" placeholder="enter contact type">
                    <input formControlName="url" placeholder="enter contact link">
                    <button type="button" (click)="removeContact($index)">-</button>
                </div>
                }
                
            </div>
        </div>
        <div>
            <button [disabled]="!userForm.valid">Submit</button>
        </div>
    </form>
</div>