<div>
    <form [formGroup]="userForm" (ngSubmit)="submit()">
        <div>
            <label for="name">Name</label>
            <input type="text" formControlName="name">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" formControlName="password">
        </div>
        <div>
            <label for="image">Profile picture</label>
            <input type="file" (change)="onImageChanege($event)">
        </div>
        <div>
            <label for="image">Resume</label>
            <input type="file" (change)="onResumeChanege($event)">
        </div>
        <div>
            <label for="description">Description</label>
            <quill-editor 
              formControlName="description"
              [modules]="quillModules"></quill-editor>
        </div>
        <div>
            <label for="skill">Skills</label>
            <button type="button" (click)="addSkill()">+</button>
            <div formArrayName="skills">
                @for (s of skillArray().controls; track $index) {
                    <input [formControlName]="$index" placeholder="enter skill">
                    <button type="button" (click)="removeSkill($index)">-</button>
                }
            </div>
        </div>

        <div>
            <label for="projects">Projects</label>
            <button type="button" (click)="addProject()">+</button>
            <div formArrayName="projects">
                @for (p of projectsArray().controls; track $index) {
                    <div [formGroupName]="$index">
                    <input formControlName="title" placeholder="enter title">
                    <quill-editor formControlName="description"
                      placeholder="enter description"
                      rows="5"
                      [modules]="quillModules"
                      style="width: 10%; resize: both;"></quill-editor>
                    <button type="button" (click)="removeProject($index)">-</button>
                </div>
                }
                
            </div>
        </div>

        <div>
            <label for="contact">Contact</label>
            <button type="button" (click)="addContact()">+</button>
            <div formArrayName="contacts">
                @for(c of contactArray().controls; track $index){
                    <div [formGroupName]="$index">
                    <input formControlName="contactType" placeholder="enter contact type">
                    <input formControlName="contactValue" placeholder="enter contact link">
                    <button type="button" (click)="removeContact($index)">-</button>
                </div>
                }
                
            </div>
        </div>
        <div>
            <button [disabled]="!userForm.valid">Submit</button>
        </div>
    </form>
</div>